# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example

# Build & Dist
dist/
build/
backend/dist/
frontend/dist/

# Database local cluster data
backend/pg_data/
*.sqlite
*.sqlite3
*.db
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
